 


@media only screen and (min-device-width:1863px ) and (max-device-width:1919px)  and (min-device-height:0px) {
	body {
		overflow-x: hidden;
	}
    
 .background-of-menu {
 	width: 49%!important;
 	 
 }

 .hello {
 		padding-left: 103%!important;
 		margin-top: -8rem
 	}

 	.carousel {
 	width: 90%; 
 	margin-left: 9%
 }
 
 .projects-responsive {
 	width:89%;
 	 
 }
 .projects-1 {
 	margin-left: 9%
 }
 .background-positioning {
 	width: 523px
 }

 .odd-pics {
 	margin-left: 10.5rem 
 }

 .end-position {
 	margin-left: 20rem
 }

 .projects-10 .background-positioning {
 	margin-left: 19.8rem!important
 }

 .Solutions{

    width: 84.5rem!important;
 }

 .footer{
 	width: 68rem!important;
 	margin-left: 30.5rem!important
 }

}


@media only screen and (min-device-width:1920px ) and (max-device-width:  2000px)  and (min-device-height:0px) {
	body {
		overflow-x: hidden;
	}
  .navigation-padding { 
 	    margin-left: 483%!important
 	}
  .background-of-menu {
 		width: 45%!important;
 	}

 .carousel {
 	width: 69%;
    margin-left: 16%;
 }

 .projects-1 {
 	margin-left: 16%!important
 }

 .end-position {
 	margin-left: 5.5%!important
 }

  

 .background-positioning {
 	width: 523px
 }
 .projects-responsive   {
 	width: 69%;

 }
 
 .pic-trove {
 	height: 100rem
 }

 .projects-1 {
 	margin-left: 42.5rem
 }
 .projects-10 {
 	margin-left: -18.5%
 }
 .Solutions{

    width: 84.5rem!important;
 }

 .hr-line {
 	width: 76rem!important
 }

 .footer{
 	width: 76rem!important;
 	margin-left: 41.5rem!important
 }

  
 .odd-pics img{
 	width: 70%!important;
 	margin-left: 54.5%!important
 }

}
@media only screen and (min-device-width:2000px ) and (max-device-width:  2290px)  and (min-device-height:0px) {
	body {
		overflow-x: hidden;
	}
  .navigation-padding { 
 	    margin-left: 490%!important
 	}
  .background-of-menu {
 		width: 45%!important;
 	}

 .carousel {
 	width: 59%!important;
    margin-left: 20%!important;
 }

 .projects-1 {
 	margin-left: 19.8%!important
 }

 .end-position {
 	margin-left: 3.7%!important
 }

 .background-positioning {
 	width: 523px
 }
 .projects-responsive   {
 	width: 58.5%;

 }
.projects-responsive img  {
 	width: 80rem;

 }
 .pic-trove {
 	height: 100rem
 }

 .Solutions{

    width: 84.5rem!important;
 }

 .hr-line {
 	width: 76rem!important
 }

 .footer{
 	width: 76rem!important;
 	margin-left: 41.5rem!important
 }

  
 .odd-pics img{
 	width: 59.3%!important;
 	margin-left: 31.5%!important
 }

}

