@media only screen and (min-device-width: 2560px) {
 .pic-img-1-div img {
      margin-left: -50%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-2-div {
      margin-left: -1%;
    width: 100%;
    margin-top: -52.1%;
 }
 .pic-img-3-div {
      margin-left: -40%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-4-div {
    margin-left: -1%;
    width: 100%;
    margin-top: -52.1%;
 }
 .pic-img-5-div {
   margin-left: -40%;
      width: 90%;
      top: -1%
 }
 
 .bg-blue {
  margin-left:39%;
  height:522px
}
.pic-div4 {
  width:  100px!important;
  height: 520px;
  }
}



@media only screen and (min-device-width: 1920px ) and (max-device-width: 2560px) {
 .pic-img-1-div img {
      margin-left: -50%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-2-div {
      margin-left: -1%;
    width: 100%;
    margin-top: -52.1%;
 }
 .pic-img-3-div {
      margin-left: -40%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-4-div {
    margin-left: -1%;
    width: 100%;
    margin-top: -52.1%;
 }
 .pic-img-5-div {
   margin-left: -40%;
      width: 90%;
      top: -1%
 }
 
 .bg-blue {
  margin-left:39%;
  height:522px
}
.pic-div4 {
  width:  100px!important;
  height: 520px;
  }
}



@media only screen and (min-device-width: 1680px ) and (max-device-width: 1920px) {
 .pic-img-1-div img {
      margin-left: -50%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-2-div {
      margin-left: -1%;
      width: 90%;
      margin-top: -26.4%
 }
 .pic-img-3-div {
      margin-left: -40%;
      width: 90%;
      top: -1%
    
    }
 .pic-img-4-div {
      margin-left: -1%;
      width: 90%;
      margin-top: -28.7%
 }
 .pic-img-5-div {
   margin-left: -40%;
      width: 90%;
      top: -1%
 }
 
 .bg-blue {
  margin-right: -20%;
  margin-left: 50.8%;
}
  }
@media only screen and (min-device-width: 359px ) and (max-device-width: 360px) {
  .logo-png img{
  width: 90%!important
}
   }
@media only screen and (min-device-width: 240px ) and (max-device-width: 359px) {
  .logo-png img{
  width: 80%!important
}
   }

@media only screen and (min-device-width: 992px ) and (max-device-width: 1317px) {
    .menuofml li{
      margin-left: -13px!important
    }

}
@media only screen and (min-device-width: 993px ) and (max-device-width: 1007px) {
   .pic-img-1-div,  .pic-img-3-div , .pic-img-5-div{
       width: 90%!important; 
    }
}
@media only screen and (min-device-width: 1199px ) and (max-device-width: 1353px) {
   .pic-img-1-div,  .pic-img-3-div , .pic-img-5-div{
       width: 90%!important; 
    }

}

@media only screen and (min-device-width:1414px ) and (max-device-width:  1572px) {
    .pic-img-2-div {
      margin-top: -21.2%!important;
    }
    .pic-img-1-div {
    margin-top: -19.5%;
}
}
@media only screen and (min-device-width:1003px ) and (max-device-width:  1079px) {
    .pic-img-2-div {
      margin-top: -46%!important
    }
}

@media only screen and (min-device-width:1248px ) and (max-device-width:  1266px) {
    .pic-img-2-div {
      margin-top: -23.7%!important
    }
}

 @media only screen and (min-device-width:992px ) and (max-device-width:  1049px) {
    .pic-img-5-div {
    margin-top:-43.7%!important
}
}

 @media only screen and (min-device-width:1102px ) and (max-device-width:  1199px) {
    .pic-img-5-div {
    margin-top:-39.9%!important;
}
}

 @media only screen and (min-device-width:1200px ) and (max-device-width:  1258px) {
    .pic-img-5-div {
    margin-top:-26.2%!important
}
}

 @media only screen and (min-device-width:1098px ) and (max-device-width:  1102px) {
    .pic-img-3-div {
    margin-top:-63.5%!important
}
}
 @media only screen and (min-device-width:1102px ) and (max-device-width:  1154px) {
    .pic-img-3-div {
    margin-top:-63.5%!important
}
}


 @media only screen and (min-device-width:993px ) and (max-device-width:  1003px) {
    .pic-img-2-div {
    margin-top:  -53.6%!important
}
}

 @media only screen and (min-device-width:1155px ) and (max-device-width:   1200px) {
    .pic-img-3-div {
    margin-top: -59.6%!important
}
}


@media only screen and (max-device-width:1008px ) and (min-device-width:1008px ) {
    .pic-img-2-div {
    margin-top:  -53.4%!important
}
}
 1069,1004

@media only screen and (min-device-width:1070px ) and (max-device-width:  1079px) {
    .pic-img-2-div {
    margin-top:  -45.8%!important
}
}
@media only screen and (min-device-width:1080px ) and (max-device-width:  1087px) {
    .pic-img-2-div {
    margin-top:  -45.6%!important;
}
}
@media only screen and (min-device-width: 1088px) and (max-device-width:  1096px) {
    .pic-img-2-div {
    margin-top: -45%!important;
}
}

@media only screen and (min-device-width: 1097px) and (max-device-width:  1101px) {
    .pic-img-2-div {
    margin-top: -53.5%!important
}
}
  
@media only screen and (min-device-width: 1088px) and (max-device-width:  1113px) {
    .pic-img-2-div {
    margin-top: -44.5%!important;
}
}

@media only screen and (min-device-width: 1114px) and (max-device-width:  1199px) {
    .pic-img-2-div {
    margin-top: -40%!important
}
  }
 
@media only screen and (min-device-width: 1267px) and (max-device-width: 1400px) {
  .pic-img-2-div {
    margin-top: -23.8%!important;
    }
}

@media only screen and (min-device-width: 1400px) and (max-device-width: 1446px) {

 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -19.6%;
 }

 .pic-img-2-div{
 	margin-top: -23.6%;
 }

 .pic-img-3-div {
 	margin-top: -37.1%;
 }

 .pic-img-4-div {
 	margin-top: -23.1%;
 }
 .pic-img-5-div {
 	margin-top: -23.8%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
}


@media only screen and (min-device-width: 1572px) and (max-device-width: 1680px) {


 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -19%;
 }

 .pic-img-2-div{
 	margin-top: -21%;
 }

 .pic-img-3-div {
 	margin-top: -36.5%;
 }

 .pic-img-4-div {
 	margin-top: -22.5%;
 }
 .pic-img-5-div {
 	margin-top: -21%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
 }


 @media only screen and (min-device-width: 1513px) and (max-device-width: 1572px) {

 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -19%;
 }

 .pic-img-2-div{
 	margin-top: -23.6%
 }

 .pic-img-3-div {
 	margin-top: -36.5%;
 }

 .pic-img-4-div {
 	margin-top: -22.5%;
 }
 .pic-img-5-div {
 	margin-top: -23.5%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
}

@media only screen and (min-device-width: 1499px) and (max-device-width: 1513px) {

 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -19.3%;
 }

 .pic-img-2-div{
 	margin-top: -23.6%;
 }

 .pic-img-3-div {
 	margin-top: -36.5%;
 }

 .pic-img-4-div {
 	margin-top: -25.5%
 }
 .pic-img-5-div {
 	margin-top: -23.5%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
}


@media only screen and (min-device-width: 1446px) and (max-device-width: 1498px) {

 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -21.7%;
 }

 .pic-img-2-div{
 	margin-top: -23.5%
 }

 .pic-img-3-div {
 	margin-top: -36.5%;
 }

 .pic-img-4-div {
 	margin-top: -25.5%
 }
 .pic-img-5-div {
 	margin-top: -23.5%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
}


 @media only screen and (min-device-width: 1100px) and (max-device-width: 1400px) {


 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -25%;
  margin-left: -5%!important
 }

 .pic-img-2-div{
 	margin-top: -26.2%;

 }

 .pic-img-3-div {
 	margin-top: -39.7%;
  margin-left: -5%!important
 }

 .pic-img-4-div {
 	margin-top: -25.8%;
 }
 .pic-img-5-div {
 	margin-top:  -23.9%;
  margin-left: -5%!important
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
 }

  @media only screen and (min-device-width: 1100px) and (max-device-width: 1199px) {


 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -38%;
 }

 .pic-img-2-div{
 	margin-top: -44.5%
 }

 .pic-img-3-div {
 	margin-top: -39.2%;
 }

 .pic-img-4-div {
 	margin-top: -25.5%;
 }
 .pic-img-5-div {
 	margin-top: -23.6%;
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 
 }




 @media only screen and (min-device-width: 992px) and (max-device-width: 1101px) {
  
 .background-black{
 	padding: 25px!important; 
 }

 .pictures-div h1 {
 	font-size: 25px;
 	padding: 5px
 }

 .picture-1-div h6	{
 	font-size: 14px;
 	padding: 5px
 }
 .pic-img-3-div {
 	margin-top: -82.5%
 }

 .pic-img-1-div {
 	margin-top: -42%;
  width: 90%!important; 
 }

 .pic-img-2-div{
 	margin-top: -44.9%
 }

 .pic-img-3-div {
 	margin-top: -67.6%;
   width: 90%!important; 
 }

 .pic-img-4-div {
 	margin-top: -42.9%;
 }
 .pic-img-5-div {
 	margin-top: -39.8%;
   width: 90%!important; 
 }
	     
input[type=text] , input[type=number], textarea {
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img
 {
 width:18.5rem;
 }

.footer-img img
 {
  width: 50%
} 


}