 
 
 

 @media screen and (max-width: 900px) {
.picture-1 img, .picture-2 img , .picture-10 img {   
      margin-top: 0px
    }
     
input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:18.5rem; }
.footer-img img {
  width: 50%
}
   
}
 
@media screen and (max-width: 767px) {
.picture-1 img, .picture-2 img , .picture-10 img {   
      margin-top: 0px
    }
     
input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:18.5rem; }
.footer-img img {
  width: 50%
}
   
}
@media screen and (max-width: 675px) {


  .picture-1 img, .picture-2 img , .picture-10 img {   
      margin-top: 0px
    }
 input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:18.5rem; }
.footer-img img {
  width: 50%
}
   
}
@media screen and (max-width: 620px) {
 
  .picture-1 img, .picture-2 img ,.picture-10 img {  
      margin-top: 0px
    }
     
input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:18.5rem; }
.footer-img img {
  width: 50%
} 
    
}
@media screen and (max-width: 420px) {
 
  .picture-1 img, .picture-2 img ,.picture-10 img {  
      margin-top: 0px
    }
  
input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:18.5rem; }
.footer-img img {
  width: 50%
}  
}


@media screen and (max-width: 360px) {
  
  .picture-1 img, .picture-2 img ,.picture-10 img  {  
      margin-top: 0px
    }



    .logo-png  {
      width: 380px;
      margin-left: -20px
    }
input[type=text] , input[type=number], textarea{
  width: 100%;
  background: green
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logo img {
 width:28.5rem; }
.footer-img img {
  width: 50%
}
}