body {
	font-family: 'Lato', sans-serif;
}
.menuofml li{
	padding-right: 15px;
	font-size: 16px

}
.ul-menu-margin{
	margin-left: 165px
}

.bkground-div {
	background: #363636;
	color: white;
	text-align: center;
	font-size: 20px
}

.pink-color-h5 {
	color:#e84991;
	font-size: 16px
}

.footer {
	background: #fafafa;
}

.submit-pink {
	background: #e84991;
	border:1px solid #e84991;
	width: 10rem;
	border-radius: 5px
}
  .text-pink {

  	  color: rgb(232, 73, 145)!important;
}
.text-align-center 
{
	text-align: center
}

.expertise-color {
	color:#e84991;
	font-size:1.5rem;
}

input[type=text] , input[type=number], textarea{
  width: 30rem;
  padding: 10px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  border:1px solid grey;
}
.pink-colored {
	color:#e84991;
}
